*{
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

a{
    padding: 10px;
}

.body {
    background-color: #D7D7D7;

}

.top-panel{
    margin: auto;
    width: 650px;
    text-align: right;
    color: #1F1F1F;

}

.center-block {
    position: absolute; /* Абсолютное позиционирование */
    width: 600px; /* Ширина блока */
    min-height: 400px; /* Высота блока */
    margin: auto; /* Отступ от блока */
    margin-top: 40px;
    margin-bottom: 50px;
    left: 0; /* Положение блока от левого края */
    right: 0; /* Положение блока от правого края */
    background-color: #F5F5F5; /* Рамка блока */
    padding: 30px; /* Отступ внутри блока */
    overflow: auto; /* Полоса прокрутки */
    border-radius: 50px;
    box-shadow: 0 0 60px rgba(0,0,0,0.5); /* Параметры тени */
    color: #454545;

    text-align: center;
    font-size: medium;
    -webkit-box-shadow: 0 0 60px rgba(0,0,0,0.5);

}



h2{
    padding-bottom: 20px;
}

p {
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 1px 0px;
    box-shadow: 0px 0px 1px 0px;

}

.button{

    color: white;
    border: 1px solid #4CAF50;
    border-radius: 10px;
    background-color: #4CAF50;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;

    font-size: 14px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    outline: none;
    margin: 10px;

    width: 200px;
}

.button:hover {
    background-color: #449C47;
    border: 1px solid #449C47;
}

.red{
    border: 1px solid #C96261;
    background-color: white;
    color: #272727;
}

.red:hover{
    background-color: #C96261;
    border: 1px solid #C96261;
    color: white;
}

.blue{
    border: 1px solid #6097c9;
    background-color: white;
    color: #272727;
}

.blue:hover{
    background-color: #6097c9;
    border: 1px solid #6097c9;
    color: white;
}

.orange{
    border: 1px solid #FF8E39;
    background-color: white;
    color: #272727;
}

.orange:hover{
    background-color: #FF8E39;
    border: 1px solid #FF8E39;
    color: white;
}

.purple{
    border: 1px solid #8B66E8;
    background-color: white;
    color: #272727;
}

.purple:hover{
    background-color: #8B66E8;
    border: 1px solid #8B66E8;
    color: white;
}

.green{
    border: 1px solid #70C76A;
    background-color: white;
    color: #272727;
}

.green:hover{
    background-color: #70C76A;
    border: 1px solid #70C76A;
    color: white;
}

.gray{
    border: 1px solid #717273;
    background-color: white;
    color: #272727;
}

.gray:hover{
    background-color: #717273;
    border: 1px solid #717273;
    color: white;
}